# Git LFS pointer for .gitignore itself (if tracked)
# version https://git-lfs.github.com/spec/v1
# oid sha256:74af36ea11bd36be8937ec0ed459c9d9eccd2020fe6a438b2ee522f3ac2fb6b5
# size 490

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/dist
/out

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.pnpm-error.log*
.vitest.json
.vscode/
.modified
.idx/dev.nix
.idx/icon.png
compile_errors.txt
error.log
temp_height.bin.aux.xml
temp_height.hdr
temp_hill.png.aux.xml
temp_rgb.png.aux.xml

# local .env files
.env*.local

# Next.js
.next/
next-env.d.ts
tsconfig.tsbuildinfo